# Python, Data Structure and Data

Phần này sẽ hướng dẫn các bạn làm quen với Python, cách dùng một số cấu trúc dữ liệu và thao tác cơ bản với data dùng Pandas.

## 1. Python

**1.1. Biến và kiểu dữ liệu**

Xem thêm:
- [Data Types and Variables In Python](https://overiq.com/python-101/data-types-and-variables-in-python/)
- [Numbers in Python](https://overiq.com/python-101/numbers-in-python/)
- [Operators in Python](https://overiq.com/python-101/operators-in-python/)

In [9]:
a = 5 # khai báo biến a kiểu nguyên
b = 3.0 # khai báo biến b kiểu thực 
print("Type of a: ", type(a)) # xem kiểu của biến a
print("Type of b: ", type(b)) # xem kiểu của biến b

c = a + b # phép cộng
print("c = ", c) # Hàm `print` để in dữ liệu

c = a - b # phép trừ
c = a * b # phép nhân
c = a / b # phép chia
c = a // b # phép chia nguyên
c = a % b # phép chia dư
c = a ** b # phép lũy thừa
c = int(b) # chuyển kiểu
print(c)

c =  8.0
3

**1.2. Điều kiện và vòng lặp**

Xem thêm:
- [If-else statements in Python](https://overiq.com/python-101/if-else-statements-in-python/)
- [Loops in Python](https://overiq.com/python-101/loops-in-python/)
- [break and continue statement in Python](https://overiq.com/python-101/break-and-continue-statement-in-python/)

In [ ]:
a = 5

# điều kiện if
if a > 5:
    print("A is greater than 5")

# điều kiện if else
if a > 5:
    print("A is greater than 5")
else:
    print("A is less than or equal to 5")

# điều kiện if elif else
if a < 0:
    print("A is less than 0")
elif a == 0:
    print("A = 0")
else:
    print("A is greater than 0")

# vòng lặp for in
a = [ 1, 2, 3 ] # khai báo mảng
for i in a:
    print(i)

for i in range(len(a)):
    print(a[i])

# biểu thức điều kiện
e = 5 if a > 5 else 3

# vòng lặp while
i = 0
while i < len(a):
    print(a[i])
    i += 1

**1.3. Hàm**

Xem thêm:
- [Functions in Python](https://overiq.com/python-101/functions-in-python/)

In [7]:
# định nghĩa 1 hàm, default parameter
def multiply(a=0, b=0):
    return a * b

# hàm rỗng
def empty_func():
    pass

print(multiply(a, b))

# truyền hàm vào hàm
def hello_tuan(f):
    return f("Tuấn")

def say_hello(name):
    return "Hello " + name

func = say_hello
print(hello_tuan(func))

# lambda function
chao_xin_func = lambda name: "Chao Xìn " + name
print(hello_tuan(chao_xin_func))

15.0
Hello Tuấn
Chao Xìn Tuấn

## 2. Python Data Structure 

**2.1. Danh sách**

Xem thêm:
- [Lists in Python](https://overiq.com/python-101/lists-in-python/)

In [ ]:
a = [] # mảng rỗng
a = [ 1, 2, 3, 5, 7 ] # khai báo mảng
print(a[3]) # truy xuất mảng
print(a[-1]) # truy xuất phần tử cuối, dùng chỉ số âm để đi ngược từ cuối lên đầu

b = [ 1, "ahihi", { "ahehe": "ahihi" }] # mảng phần tử khác kiểu

lenght = len(a) # tính độ dài mảng
sum_array = sum(a) # tính tổng

c = a[:3] # cắt 3 phần tử đầu
c = a[3:] # cắt phần tử thứ 3 về cuối
c = a[1:3] # cắt phần tử 1 đến 3
c = a[-3:] # cắt 3 phần tử cuối
c = a[:] # copy toàn bộ mảng

a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b) # nối mảng, thay đổi a
d = a + b # nối mảng

# Repetition
list2 = [ 1, 0 ]
list3 = list2 * 5 
print(list3)

c = [ i * 2 for i in a ] # tạo mảng c bằng cách nhân 2 mỗi phần tử trong a, cú pháp list comprehension

nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0] # list comprehension with condition

**2.2. Tuple**

Xem thêm:
- [Tuples in Python](https://overiq.com/python-101/tuples-in-python/)

In [ ]:
a = (5, 4) # khai báo tuple

x, y = a # nhận giá trị từ tuple, x = 5 và y = 4

x, y = y, x # swap giá trị 2 biến bằng tuple

**2.3. String**

Xem thêm:
- [Strings in Python](https://overiq.com/python-101/strings-in-python/)
- [Strings Methods in Python](https://overiq.com/python-101/strings-methods-in-python/)

In [2]:
# xài dấu ' hay " đều được
str1 = 'ahihi'
str2 = "ahihi" 

str3 = "\n" # ký tự đặc biệt
print(str3)

str4 = r"\n" # ko nhận ký tự dặc biệt
print(str4)

fmt1 = "{} - {} - {}".format("Tuấn", 12, 15.0)
print(fmt1)

fmt2 = "%s - %d - %f" % ("Tuấn", 13, 0.6)
print(fmt2)

# string nhiều dòng
str5 = """ string này
có nhiều
dòng"""

\n
Tuấn - 12 - 15.0
Tuấn - 13 - 0.600000

**2.Dictionary/Map

In [ ]:
dic1 = {} # dict rỗng
dic1 = { "Hoàng": "Nữ", "Trụ", "Nam"} # khai báo dict

gioi_tinh1 = dic1["Hoàng"] # lấy giá trị, quăng exception nếu key ko tồn tại
gioi_tính = dic1.get("Hoàng", "Bê đê") # lấy giá trị, default nếu key ko tồn tại

check_exist = "Hoàng" in dic1 # check xem key có tồn tại ko

Set

In [ ]:
set1 = set() # khai báo set
set1.add(0) # add phần tử, set1 = { 0 }
set1.add(1) # set1 = {0,1}
set1.add(1) # set1 vẫn = {0,1}

## 3. Basic Data Manipulation with Pandas

Pandas is a Python library to manipulate data.

These are steps to get start:

**Import library**

In [1]:
import pandas as pd

**Create a simple DataFrame**

Syntax:

```python
pd.DataFrame({column1 : value1, column2 : value2, column3 : value3})
```

You can have anything as column names and anything as values. The only requirement is to have all value lists being of equal length (all are of length 3 in this example)

In [2]:
df = pd.DataFrame({'name':['Bob','Jen','Tim'],
                   'age':[20,30,40],
                   'pet':['cat', 'dog', 'bird']})

df

  name  age   pet
0  Bob   20   cat
1  Jen   30   dog
2  Tim   40  bird

**Xem các cột và đếm số dòng dữ liệu**

In [9]:
print(df.columns)
print(df.count())

Index(['name', 'age', 'pet'], dtype='object')
name    3
age     3
pet     3
dtype: int64

**View basic statistic of numeric column**

In [4]:
df.describe().T

     count  mean   std   min   25%   50%   75%   max
age    3.0  30.0  10.0  20.0  25.0  30.0  35.0  40.0

**Get first 2 rows to review**

In [5]:
df.head(2)

  name  age   pet
0  Bob   20   cat
1  Jen   30   dog
2  Tim   40  bird

**Get last 2 row to review**

In [6]:
df.tail(2)

  name  age   pet
1  Jen   30   dog
2  Tim   40  bird

**Chọn các con pet là `bird`**

In [8]:
df[df.pet == 'bird']

  name  age   pet
2  Tim   40  bird

## 4. Exercise

### 4.1. Python Exercise

**1. Viết hàm tìm min và max của mảng**

In [ ]:
arr = [ 1, 5, 2, 9, 4, 6, 7, 5, 9, 6, 4, 3, 1, 8, 8]

def min_max(array):
    # Your code here
    pass

min_value, max_value = min_max(arr)
print("Min = ", min_value)
print("Max = ", max_value)

**2. Đọc dữ liệu từ bài báo và đếm số từ duy nhất trong bài báo này**

In [ ]:
article_path = '../data/01-article.txt'

# Your mission is to read data from article in the link above
# and then count distinguish words in the article.

**3. Nhập số giờ và phút. Tính góc giữa kim giờ và kim phút theo đơn vị độ**

In [ ]:
# 1 <= h <= 12
# 0 <= m <= 59
def calculate_degree(h, m):
    # Your code here
    pass

print(calculate_degree(12, 0))
print(calculate_degree(12, 15))
print(calculate_degree(1, 30))
print(calculate_degree(5, 10))

### 4.2. Pandas

**1. Read Titanic dataset using Pandas and create simple DataFrame**

In [ ]:
import pandas as pd

titanic_path = '../data/01-titanic-train-set.csv'

# Your code here

**2. What was the average age of the survivors?**

In [ ]:
# Your code here

**3. How many men and women were on the Titanic?**

In [ ]:
# Your code here