# Basic Statistic and Data Visualization

Phần này tiếp tục giới thiệu một số cách thống kê, khảo sát cơ bản và vẽ chart để phân tích dữ liệu.

## 1. Statistic

Create a DataFrame of Titanic dataset

In [1]:
import pandas as pd

titanic = pd.read_csv('../data/01-titanic-train-set.csv')

### 1.1. Khảo sát thuộc tính của dữ liệu

**Khảo sát số lượng hàng, cột**

In [3]:
row, column = titanic.shape
print("Row: ", row)
print("Column: ", column)

Row:  891
Column:  12

**Xem tên các cột**

In [5]:
list(titanic.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

**Thống kê cơ bản đối với kiểu dữ liệu số học**

Xem thêm:
- [Pandas DataFrame.describe() method](https://www.geeksforgeeks.org/python-pandas-dataframe-describe-method/)

In [5]:
percentiles = [ .1, .25, .5, .75, .99 ] # cài đặt percentile
includes = ['object', 'float', 'int'] # bao gồm kiểu nào
exclude = [ 'string' ] # loại bỏ kiểu nào

titanic.describe(percentiles=percentiles, include=includes, exclude=exclude).T

,count,unique,top,freq,mean,std,min,10%,25%,50%,75%,99%,max
PassengerId,891,NaN,NaN,NaN,446,257.354,1,90,223.5,446,668.5,882.1,891
Survived,891,NaN,NaN,NaN,0.383838,0.486592,0,0,0,0,1,1,1
Pclass,891,NaN,NaN,NaN,2.30864,0.836071,1,1,2,3,3,3,3
Name,891,891,"Andersson, Miss. Ingeborg Constanzia",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,891,2,male,577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,714,NaN,NaN,NaN,29.6991,14.5265,0.42,14,20.125,28,38,65.87,80
SibSp,891,NaN,NaN,NaN,0.523008,1.10274,0,0,0,0,1,5,8
Parch,891,NaN,NaN,NaN,0.381594,0.806057,0,0,0,0,0,4,6
Ticket,891,681,CA. 2343,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fare,891,NaN,NaN,NaN,32.2042,49.6934,0,7.55,7.9104,14.4542,31,249.006,512.329
Cabin,204,147,B96 B98,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked,889,3,S,644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Thống kê cơ bản một cột dữ liệu**

In [11]:
# cách dùng tương tự phần trên
titanic.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

Với kiểu dữ liệu rời rạc, thống kê các giá trị duy nhất

In [6]:
print(list(titanic.Sex.unique()))
print(list(titanic.Survived.unique()))

['male', 'female']
[0, 1]

### 1.2. Khảo sát quan hệ của dữ liệu

#### 1.2.1. Tìm mối tương quan bằng Hiệp phương sai

**Hiệp phương sai** (Covariance) biểu diễn sự cùng tăng/giảm của 2 biến dữ liệu. Công thức:

$$Cov(X,Y)=\frac{\sum_{i}^{n}(x_{i}-x_{avg})(y_{i}-y_{avg})}{n-1}$$

Nếu $Cov(X,Y) > 0$, thì $X$ và $Y$ đồng biến, nghĩa là cùng tăng/cùng giảm.

In [7]:
# VD: tuổi có tương quan với sống sót hay không?
titanic.Age.cov(titanic.Survived)

-0.5512960976817095

#### 1.2.2. Xác định mức độ tương quan bằng Hệ số tương quan