# Basic Statistic and Data Visualization

Phần này tiếp tục giới thiệu một số cách thống kê, khảo sát cơ bản và vẽ chart để phân tích dữ liệu.

## 1. Statistic

Create a DataFrame of Titanic dataset

In [1]:
import pandas as pd

titanic = pd.read_csv('../data/01-titanic-train-set.csv')

**Khảo sát số lượng hàng, cột**

In [3]:
row, column = titanic.shape
print("Row: ", row)
print("Column: ", column)

Row:  891
Column:  12

Xem tên các cột

In [5]:
list(titanic.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

Thống kê cơ bản đối với kiểu dữ liệu số học

In [6]:
titanic.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

Thống kê cơ bản một cột dữ liệu

In [11]:
titanic.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

Với kiểu dữ liệu rời rạc, thống kê các giá trị duy nhất

In [8]:
set(titanic.Sex)

{'female', 'male'}

In [9]:
set(titanic.Survived)

{0, 1}